<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div>
    <h1 padding-left=""> รายการส่งสินค้า</h1>

    <h1 *ngIf="orders == null || orders.length == 0" class="text-item-none" text-center="">
      ไม่มีรายการส่งสินค้า
    </h1>

    <ion-card *ngFor="let pa of orders"  [ngStyle]="{'background-color': getIndex(pa) % 2 ==0? '#fff' : '#f5fbfa'}">
      <ion-row >
        <ion-col col-6="">
          <h1 padding-left="">{{pa.date | amDateFormat: 'DD/MM/YYYY'}}</h1>
        </ion-col>
        <ion-col col-6="">
          <p text-right="">ID : {{pa.id}} </p>
        </ion-col>
      </ion-row>
      <ion-item [ngStyle]="{'background-color': getIndex(pa) % 2 ==0? '#fff' : '#f5fbfa'}">

        <ion-row>
          <ion-col col-6="">
            <p class="font-size-s"><u>วันที่กำหนดรับสินค้า</u></p>
            <h1 class="font-size-l" text-right=""> {{ pa.recieveDate | amDateFormat: 'DD/MM/YYYY'}}</h1>
          </ion-col>
          <ion-col col-6="">
            <p class="font-size-s"><u>วันที่กำหนดส่งสินค้า</u></p>
            <h1 class="font-size-l" text-right=""> {{ pa.deliveryDate | amDateFormat: 'DD/MM/YYYY'}}</h1>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-6="">
            <p class="font-size-s"><u>ชื่อสินค้า </u></p>
            <h1 class="font-size-l" text-right=""> {{pa.packages.length > 0 ? pa.packages[0].name : "ไม่มี"}}</h1>
          </ion-col>
          <ion-col col-6="">
            <p class="font-size-s"><u>จำนวนสินค้า </u></p>
            <h1 class="font-size-l" text-right=""> {{pa.packages.length}}</h1>

          </ion-col>
        </ion-row>
        <!--<h1> {{pa.packages[0].name}}</h1>-->

        <p class="font-size-s"><u>ชื่อผู้พนักงานขับรถ </u></p>
        <h1 class="font-size-l" text-right=""> {{pa.driver}}</h1>

        <ion-row>
          <ion-col col-6="">
            <p class="font-size-s"><u>สถานะ </u></p>
            <h2 class="font-size-l">
              {{pa.status == 0 ? "ยังไม่จัดส่ง" : "อยู่ระหว่างดำเนินงาน"}}

            </h2>
          </ion-col>
          <ion-col col-6="">
            <button [default]="true" float-right="" ion-button="" (click)="viewPackage(pa.packages)">
              ดูรายการสินค้า
            </button>
          </ion-col>
        </ion-row>






      </ion-item>


    </ion-card>


  </div>
</ion-content>
