page-schedule {
  .confirm-button{
    height: 4.5rem;
    font-size: 1.6rem;
    padding: 0 1.6rem;
  }

  .stock-button{
    background-color: #f7a900;
    height: 4.5rem;
    font-size: 1.6rem;
    padding: 0 1.8rem;
  }


}
