page-schedule {
  .confirm-button{
    height: 4.5rem;
    font-size: 1.6rem;
  }

  .stock-button{
    background-color: #f7a900;
    height: 4.5rem;
    font-size: 1.6rem;
  }

  .font-size-s{
    font-size: 1.5rem;
  }

  .font-size-m{
    font-size: 1.8rem;
  }

  .font-size-l{
    font-size: 2.2rem;
  }

  .font-size-xl{
    font-size: 2.4rem;
  }
}
