page-home-user {
  .text-item-status{
       font-size: 3.4rem;
       font-weight: bold;
       color: #f7a900;
     }

  .text-item-confirm{
    font-size: 2.4rem;
    font-weight: bold;
    color: #f7a900;
    margin-bottom: 0px;
  }
  .text-item-none{
    font-size: 3.0rem;
    font-weight: bold;
    color: #8c8c8c;
    margin-bottom: 0px;
  }
}
